header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 240px;
    width: 100%;
    min-width: 680px;
    max-width: 900px;
    height: 330px;
}

.header__icons-container div {
    height: 55px;
}

.header__icons-container .facebook,
.header__icons-container .twitter,
.header__icons-container .instagram,
.header__icons-container .linkedin,
.header__icons-container .youtube {
    width: 42px;
    height: 42px;
}


.header__nav-container {
    width: 60%;
    min-width: 300px;
    max-width: 420px;
    height: 220px;
}


.header__nav-container .nav-info {
    height: 80px;
    font-size: 18px;
}




.main__index-container {
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    max-width: 900px;
    height: 400px;
}

.main__index-container .main__title {
    font-size: 35px;
    letter-spacing: 0.8rem;
}

.main__index-container .main__index-button {
    position: absolute;
    left: calc(50% - 50px);
    top: 240px;
    width: 100px;
}




/* Página Blogs  */

.main__noticias-container {
    margin-top: 0;
    width: 90%;
    min-width: 680px;
    max-width: 900px;
    height: auto;
}

main .noticia-img h1 {
    font-size: 30px;
}

main .noticia-titles h2 {
    font-size: 1.8rem;
} 

main .noticia-titles button {
    margin-top: 15px;
    padding: 6px 7px;
}

main .noticia-titles a {
    font-size: 12px;
}

.noticias-otros h3 {
    font-size: 1.5rem;
} 

.articles-container h4 {
    font-size: 1.2rem;
}


.articles-container button {
    padding: 5px 6px;
}

.articles-container a {
    font-size: 10px;
}




/* Página Perfil */

.header__perfil {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 150px;
    width: 100%;
    min-width: 680px;
    max-width: 900px;
    height: 230px;
}

.header__perfil .header__icons-container {
    width: 100%;
    min-width: 680px;
    max-width: 900px;
}



.noticias-otros {
    margin: 0 16px 0;
}

.projects-container h4 {
    font-size: 1.5rem;
}


.contacto-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 15px;
    align-items: center;

    background-color: #e6e9ed;
}

.contacto-email a, .contacto-write a {
    font-size: 1.3rem;
}



/* Blog individual */

.main__blog {
    width: 100%;
    min-width: 680px;
    max-width: 900px;
}